body,html {
  background-color: rgba(240, 248, 255, 0.97);

  scroll-behavior: smooth;
  overflow-x: hidden;

}



img {
  transition: transform 0.3s ease-in-out;
}
.bl {
  background-color: rgba(0, 0, 0, 0.404);
}

.typewriter {
  font-family: monospace;
  white-space: pre-line;
  overflow: hidden;
  display: inline-block;
  width: 0;
  animation: typing 1s steps(40, end) forwards, blink 0.6s;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}



.puff-in-bottom {
	-webkit-animation: puff-in-bottom 0.35s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-bottom 0.35s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes puff-in-bottom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-bottom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
